@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Readex Pro', sans-serif;

    a {
        font-weight: bolder;
        text-decoration: none;
        color: gray;
    }
}